.lot-menu-dropdown {
    margin-top: 8px;
    padding: 8px 0px 8px 0px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    position: relative;
    display: inline-block;
    color: #007bff;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 19px;
    text-decoration: none;
    text-transform: none;
}
#lot-menu-dropdown-1{
    width: 18%;
}
#lot-menu-dropdown-2{
    width: 16%;
}
#lot-menu-dropdown-3{
    width: 31%;
}
#lot-input-category{
    width: 33%;
}
.dropdown-filters {
    font-size: 16px;
    color: #000000;
}
.lot-menu-dropdown-content {
    display: none;
    width: calc(100% - 32px);
    position: absolute;
    margin-top: 8px;
    background: linear-gradient(135deg, #FFFFFF 33%, #E9EAEA 66%, #FFFFFF);
    padding: 8px 16px 8px 16px;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    z-index: 1;
}
.lot-menu-dropdown:hover{
    cursor: pointer;
}
.lot-menu-dropdown:hover .lot-menu-dropdown-content {
    display: block;
}
.lot-menu-dropdown:active.lot-menu-dropdown-content {
    border: 1px solid #0000FF;
}
.lot-menu-link{
    color: #007bff;
    padding: 8px 16px 8px 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    text-decoration: none;
    text-transform: none;
}
.lot-menu-link:hover{
    color: #000000;
    padding: 8px 16px 8px 16px;
    border: 1px solid #007bff;
    border-radius: 5px;
}
.lot-menu-link a{
    text-decoration: none;
    color: #007bff;
}
.dropdown-filters-btn {
    margin-left: -10px;
    background-color: transparent;
    border-color: transparent;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #007bff;
    font-size: 20px;
}
.lot-input-form {
    margin-left: -12px;
    width: calc(100% - 113px - 64px);
    padding: 8px;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 5px #EBEBEB;
    -moz-box-shadow: 1px 1px 5px #EBEBEB;
    -webkit-box-shadow: 1px 1px 5px #EBEBEB;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.lot-input-form:hover {
    border: 1px solid #007bff;
    box-shadow: 1px 1px 5px #EBEBEB;
    -moz-box-shadow: 1px 1px 5px #EBEBEB;
    -webkit-box-shadow: 1px 1px 5px #EBEBEB;
}
.lot-input-form:active {
    border: 1px solid #007bff;
    box-shadow: 1px 1px 5px #EBEBEB;
    -moz-box-shadow: 1px 1px 5px #EBEBEB;
    -webkit-box-shadow: 1px 1px 5px #EBEBEB;
}